{% extends "base.html" %}
{% block title %}Module 2 – Titel module 2{% endblock %}

{% block content %}

<div class="module-container">
    {% set module_title = "module 2" %}

    <nav class="breadcrumb">
        <a href="{{ url_for('instructions.mapnaam_overview') }}">onderwerp module</a>
        <span>/</span>
        <span>{{ module_title }}</span>
    </nav>
    <!-- --- Inhoud komt hieronder ------------------------------------------------------------ -->

    

   <!-- --- Inhoud eidigt hier ------------------------------------------------------------ -->

    <!-- --- NAVIGATIE ------------------------------------------------------------ -->
    <nav class="module-navigation">
    <a href="{{ url_for('instructions.mapnaam_module1') }}">← Terug naar overzicht</a>

    <a class="next-module" href="{{ url_for('instructions.mapnaam_module3') }}">
    Volgende module →
    </a>
    </nav>
<div>

{% endblock %}
