{% extends "base.html" %}

{% block title %}Home - Testgarden{% endblock %}

{% block content %}
<h1>Welkom in de Testgarden</h1>
<p><b>Hier vind je alles om jouw carriere als Software Tester te beginnen.</b><br>

🌿 De toon van een tester kan een project maken of breken<br>

“Als mijn toon als tester constructief is en niet zelfingenomen”<br>
kan ik sucsesvol samenwerken, immers:<br>
Een slechte tester zegt:<br>
“Jij hebt een fout gemaakt!”<br>
Een goede tester zegt:<br>
“Ik heb iets gevonden dat je misschien wilt zien — samen maken we het sterker.”<br>
En een excellente tester zegt:<br>
“Ik weet hoe makkelijk dit gebeurt, want ik maak precies dezelfde fouten.”<br>

Dat schept vertrouwen.<br>
Dat verbindt teams.<br>
Dat voorkomt defensiviteit.<br>
Dat maakt kwaliteit mogelijk.<br>

Maar wees ook zo sterk om te benoemen wanneer er bewust slechte kwaliteit geleverd wordt!<br>
En dat is een van de moeilijkste opdrachten als tester omdat je dan als "klokkenluider" optreedt.<br>
Ken daar ook je grenzen in, als er bewust niet geluisterd wordt bedenk dan dat je het bedrijf de kans geeft<br>
om beter te worden.......meer ook niet</p>
{% endblock %}
